.card-custom {
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  border: 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
}

.profile-image {
  width: 192px;
  height: 192px;
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.card-body-custom {
  text-align: center;
  padding: 10px;
  background-color: #4763c8;
  color: #fff;
  position: relative;
  top: -90px;
}

.card-title-custom {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 90px;
}

.card-text-custom {
  margin-bottom: 14px;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.button-custom {
  font-size: 0.8rem;
  width: 106px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.accepting-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 16px;
}

.card-body-bottom {
  background-color: #4763c8;
  color: white;
  position: relative;
  top: -90px;
  border-top: 1px solid #000;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}

.info-list > li {
  margin-bottom: 19px;
  font-size: 16px;
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .card-custom {
    width: 332px;
  }
}

@media (max-width: 768px) {
  .button-custom {
    font-size: 10px;
    margin: 5px;
    width: 80px;
    height: 30px;
    text-wrap: nowrap;
    padding: 2px;
  }

  .card-title-custom {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 80px;
  }

  .accepting-text {
    font-size: 14px;
    margin: 0px;
  }

  .card-text-custom {
    font-size: 10px !important;
    margin-bottom: 5px;
  }

  .info-list li {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .profile-image {
    width: 130px !important;
    height: 130px !important;
  }
}

@media (max-width: 576px) {
  .card-custom {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 0px;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
  }
}
