@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.input-group,
.form-control:focus {
  box-shadow: 0 0 0px !important;
}
.modal-open {
  padding-right: 0 !important;
}
img{
  width: 100%;
}