.banner-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffe609;
}

.banner-content p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.btn-explore {
  background: white;
  color: black;
}
.btn-explore:hover {
  background: white;
  color: black;
}
.header-section{
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.host-gallery {
  display: flex;
  flex-wrap: nowrap; /* Không cho phép các thẻ xuống dòng */
  overflow-x: auto; /* Cho phép cuộn ngang */
  gap: 20px; /* Khoảng cách giữa các HostCard */
  padding: 10px 0;
}


.swiper-scrollbar {
  background-color: rgba(0, 0, 0, 0.2); /* Màu nền của scrollbar */
  height: 8px; /* Chiều cao của scrollbar */
  border-radius: 10px; /* Bo tròn thanh cuộn */
}

.swiper-scrollbar-drag {
  background-color: #007bff; /* Màu của thanh kéo */
  border-radius: 10px; /* Bo tròn thanh kéo */
}



@media (min-width: 768px) and (max-width: 991px){
  .banner-content h1{
    font-size: 30px;
  }
  .banner-content p{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .btn-explore{
    font-size: 16px;
  }
  .banner-container{
    height: 300px;
  }
}

@media (max-width: 767px) {
    .banner-content h1{
      font-size: 16px;
    }
    .banner-content p{
      font-size: 8px;
      margin-bottom: 8px;
    }
    .btn-explore{
      font-size: 8px;
      width: 110px;
    }
    .banner-container{
      height: 200px;
    }
}