/* EventCard.css */

.event-card {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.image-placeholder {
  background-color: #ccc;
  display: inline-block;
}

.event-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.event-info {
  margin-left: 16px;
}

.event-info h6 {
  font-weight: bold;
  margin-bottom: 4px;
}

.event-time {
  color: #6c757d;
  margin-bottom: 4px;
}

.participants {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.participants img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 4px;
}

.join-button {
  background-color: #fff;
  border: none;
  font-weight: bold;
  color: black;
  padding: 4px 12px;
}

.join-button:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .event-title {
    font-size: 16px;
  }
  
  .event-time {
    font-size: 12px;
  }
  
  .event-button {
    font-size: 12px !important;
  }
  
  .event-img {
    height: 95px !important;
    width: 95px !important;
  }
}
