/* Register.css */

/* Nút tiếp tục */
.btn-continue {
  background-color: #4763c8 !important;
  font-size: 12px;
  border-radius: 10px;
  height: 36px;
}

/* Tùy chỉnh modal đăng kí */
.register-modal .modal-dialog {
  max-width: 468px;  /* Chiều rộng */
  max-height: 606px; /* Chiều cao */
  margin: auto;
}

.register-modal .modal-content {
  width: 468px !important;  /* Chiều rộng */
  height: 606px !important; /* Chiều cao */
  border-radius: 20px;
}

.modal-header-custom {
  color: black;
  height: 77px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid #8C8B8B;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-title-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.modal-body-title {
  font-size: 20px;
}

.form-control-custom {
  font-size: 12px;
  height: 50px;
  border-radius: 10px;
}

.text-center-divider {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.text-center-divider::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  border-top: 1px solid #ccc;
  z-index: 1;
}

.text-center-divider span {
  position: relative;
  padding: 0 10px;
  background: white;
  z-index: 2;
}

.social-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  margin-bottom: 8px;
}

.social-btn img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.social-btn span {
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
}
@media (max-width: 767px){
  .register-modal .modal-content {
    width: 468px !important;  /* Chiều rộng */
    height: auto !important; /* Chiều cao */
    border-radius: 20px;
  }
}